/Teste_Git/nbproject/private/
/Teste_Git/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/JavaFXApplication1/dist/
/ContaCorrente1/nbproject/private/
/AbinerFicha01/nbproject/private/
/Leide_Esperanca/nbproject/private/
/Leide_Esperanca/build/
/JavaFXApplication3/nbproject/private/
/JavaFXApplication4/nbproject/private/
/JavaFXApplication5/nbproject/private/
/JavaFXApplication5/build/
/JavaFXApplication5/dist/
/Teste_Aula/nbproject/private/
/Teste_Aula/build/
/Teste_Aula/dist/
/AulaHibernate/nbproject/private/
/AulaHibernate/build/
/JavaApplication13/nbproject/private/
/JavaApplication13/build/
/Preparacao/nbproject/private/
/Preparacao/build/
/Preparacao/dist/
/JavaApplication15/nbproject/private/
